src/catalogo_cds.dtd

<!ELEMENT CatalogoCDs (CD+)>
        <!ELEMENT CD (Título, Artista, País, CompañíaDiscográfica, Precio, AñoPublicación)>

        <!ELEMENT Título (#PCDATA)>
        <!ELEMENT Artista (#PCDATA)>
        <!ELEMENT País (#PCDATA)>
        <!ELEMENT CompañíaDiscográfica (#PCDATA)>
        <!ELEMENT Precio (#PCDATA)>
        <!ELEMENT AñoPublicación (#PCDATA)>
